/TrafficLight 2.0.xcodeproj/project.xcworkspace/xcuserdata/devgod.xcuserdatad/UserInterfaceState.xcuserstate
/TrafficLight 2.0.xcodeproj/xcuserdata/devgod.xcuserdatad/xcschemes/xcschememanagement.plist
/TrafficLight 2.0.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/TrafficLight 2.0.xcodeproj/project.xcworkspace/contents.xcworkspacedata
